<ion-header>
  <ion-toolbar>
    <ion-title>Designer Dashboard</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="logout()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <h1>Welcome {{artist.firstName}} {{artist.lastName}}!</h1><br /><br />

    <ion-button expand="block" (click)="goUnclaimed()">Unclaimed Jobs</ion-button> <br>
    <ion-button expand="block" (click)="goClaimed()">Your Jobs</ion-button> <br>
    <ion-button expand="block" (click)="goConversations()">Your Messages</ion-button> <br>
  </div>

  <ion-card>
    <ion-card-header> 
      <ion-card-title>Last 30 Days</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Jobs Taken: {{artist.last30Days.jobsTaken}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Refunds: {{artist.last30Days.refunds}}</ion-label>
      </ion-item> <br>
    </ion-card-content>
  </ion-card> <br>

  <ion-card>
    <ion-card-header> 
      <ion-card-title>Current Job Limit</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label>You are approved to have {{artist.maxJobValue}} active jobs.</ion-label>
    </ion-card-content>
  </ion-card> <br>

  <ion-card>
    <ion-card-header> 
      <ion-card-title>Alert Messages</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label>Not implemented yet</ion-label>
    </ion-card-content>
  </ion-card> <br>
  
  <ion-card>
    <ion-card-header> 
      <ion-card-title>Lifetime</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Jobs Taken: {{artist.lifetime.refunds}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Earnings: ${{artist.lifetime.earnings}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Refunds: {{artist.lifetime.refunds}}</ion-label>
      </ion-item> <br>
    </ion-card-content>
  </ion-card>
  <!-- <app-logout></app-logout> -->

</ion-content>
