<ion-header>
  <ion-toolbar>
    <ion-title>Job Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-grid>
  <ion-row>
    <ion-col id="title">Name</ion-col>
  </ion-row>

  <ion-row>
    <ion-col id="subtitle">for Customer</ion-col>
  </ion-row> <br>

  <ion-row>
    <ion-col>Tattoo Type</ion-col>
    <ion-col>Commission</ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="value">XXX - Tattoo Type</ion-col>
    <ion-col class="value">XXX - Commission</ion-col>
  </ion-row> <br>

  <ion-row>
    <ion-col>Tattoo Style</ion-col>
    <ion-col>Staus</ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="value">XXX - Tattoo Style</ion-col>
    <ion-col class="value">XXX - Status</ion-col>
  </ion-row> <br>

  <ion-row>
    <ion-col>Has Color</ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="value">XXX - Has Color</ion-col>
  </ion-row>

  <hr color="white">

  <ion-row>
    <ion-col>Instructions</ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col class="value">XXX - Instructions</ion-col>
  </ion-row>
  <ion-button>Image</ion-button>

  <hr color="white">
</ion-grid>

<ion-button style="float: right">Claim</ion-button>

</ion-content>
