<ion-header>
  <ion-toolbar>
    <ion-title>claimed-jobs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-segment>
    <ion-segment-button value="inProgress">
      <ion-label>In Progress</ion-label>
    </ion-segment-button>

    <ion-segment-button value="approved">
      <ion-label>Approved</ion-label>
    </ion-segment-button>

    <ion-segment-button value="compleated">
      <ion-label>Compleated</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div>
  <ion-card>
    <ion-card-header>
      <ion-button fill="outline" style="float: right">View</ion-button>
      <ion-card-subtitle>Job #5768</ion-card-subtitle>
      <ion-card-title>Yoshi Down Under</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-label>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-label> <br><br>

      <ion-item color="none">
        <ion-label>Customer: Andy Popa</ion-label>
      </ion-item>

      <ion-item color="none">
        <ion-label>Commision: $69.00</ion-label>
      </ion-item>

      <ion-item color="none">
        <ion-label>Staus: In Progress</ion-label>
      </ion-item> <br>
    </ion-card-content>
  </ion-card>
</div>

</ion-content>
