<ion-header>
  <ion-toolbar>
    <ion-title>Design Images</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Back"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="refreshDesignImages()">
        <ion-icon slot="icon-only" name="refresh-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="job.status != 'Needs Designer'">
    <input type="file" name="files" (change)="updateFiles($event.target)" ngDefaultControl />
    <ion-button expand="block" (click)="submitDesignDraftImage()">Upload Design Draft</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="job.designImages.length == 0" class="ion-text-center">
    <ion-card-header>
      <ion-card-title >There Are Currently No Design Images</ion-card-title><br>
    </ion-card-header>
    <ion-card-content>
      <ion-label>Please Check Back Later</ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let designImage of job.designImages">
    <ion-card-header>
      <ion-card-title>{{designImage.name}}</ion-card-title>
      <ion-card-subtitle>Created {{designImage.submissionDate.toLocaleString()}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <!-- <img class="design_image" src="designImage.image" /> -->
      <img [src]='getImageSrcString(designImage)'>
    </ion-card-content>
  </ion-card>
</ion-content>