<ion-header>
  <ion-toolbar>
    <ion-title>Unclaimed Jobs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="unclaimedJobs.length == 0" class="ion-text-center">
  <ion-card-header>
    <ion-card-title >There Are Currently No Available Jobs</ion-card-title><br>
  </ion-card-header>
  <ion-card-content>
    <ion-label>Please Check Back Later</ion-label>
  </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let job of unclaimedJobs">
    <ion-card-header>
      <ion-button fill="outline" style="float: right">View</ion-button>
      <ion-card-subtitle>Job #{{job.jobId}}</ion-card-subtitle>
      <ion-card-title>{{job.title}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-label>
        {{job.description}}
      </ion-label> <br><br>

      <ion-item color="none">
        <ion-label>Customer: {{job.customerName}}</ion-label>
      </ion-item>

      <ion-item color="none">
        <ion-label>Commission: ${{job.commission}}</ion-label>
      </ion-item>

      <ion-item color="none">
        <ion-label>Status: {{job.status}}</ion-label>
      </ion-item> <br>
    </ion-card-content>
  </ion-card>
</ion-content>
