<ion-header>
  <ion-toolbar>
    <ion-title>Customer Landing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Welcome {{job.customerName}}!</h1><br /><br />

  <ion-button *ngIf="job.status != 'queued'" expand="block" (click)="goConversation()">Your Conversation</ion-button> <br>
  <ion-button expand="block" (click)="goDesignDetails()">Your Design's Details</ion-button> <br>
  <ion-button expand="block" (click)="goDesigns()">Your Designs</ion-button> <br>

  <div id="img_test"></div>
</ion-content>
