<img src="../../../assets/logo.png" alt="Logo">

<ion-card>

  <ion-card-header>
    <ion-card-title>Login</ion-card-title>
  </ion-card-header>

  <ion-card-content>

    <span>Email</span>
    <ion-input> </ion-input> <br>

    <span>Password</span>
    <ion-input></ion-input>

    <input type="checkbox" /> <span>Remeber Me</span> <br>

    <ion-button>LOG IN</ion-button> <br><br>

    <a href>Forgot your password?</a> <br>
    <a href>New? Request for a user</a>

  </ion-card-content>
</ion-card>