img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

ion-card {
    background-color: white;
}

ion-card-title {
    color: black;
}

span {
    color: black;
}

ion-input {
    border: solid black 1px;
}